.about {
  &--title {
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-top: 50px;
  }
  &--container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    &--blockimg {
      width: 50%;
      @media screen and (max-width: 425px) {
        display: none;
      }
    }
    &--blocktxt {
      text-align: justify;
      margin-left: 30px;
      margin-right: 30px;
      width: 50%;
      @media screen and (max-width: 425px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
      &__h2 {
        font-weight: 400;
      }
    }
  }
}
