<ng-container>
  <h1 class="about--title">A propos de l'application</h1>
  <div class="about--container">
    <div class="about--container--blockimg">
      <img style="width: 100%;" src="assets/img/openclassrooms-levee-fonds-startup.png" alt="Image" />
    </div>
    <div class="about--container--blocktxt">
      <h2 class="about--container--blocktxt__h2">Refonte d'un projet étudiant</h2>
      <p>
        Ce projet est l'un des projets étudiant qu'il faut valider pour l'obtention du diplôme de
        <strong>Développeur Web Junior</strong> chez <strong>OpenClassroom</strong>. Cette application a pour seul but la mise à jour des
        compétences technologique. Toute la partie réservation est simulé.
      </p>
      <a href="https://openclassrooms.com/fr/paths/185-developpeur-web">Pour plus d'information cliquer sur ce lien</a>
      <p>
        Ce projet a été refait afin de mettre à jour les compétences, se former aux nouvelles technologies et de maintenie la veille
        technologique.
      </p>
    </div>
  </div>
</ng-container>
