<ng-container *ngIf="reservation$ | async as reservation">
  <div class="text-center">
    <button mat-raised-button class="btn primary-dark res-pc" (click)="showCompleteReservation(reservation)">
      Voir la réservation
    </button>
  </div>
</ng-container>
<ng-container *ngIf="loaded$ | async">
  <div class="map-infos">
    <h1 class="text-center">Application Velyon</h1>
    <h3 class="text-center">Cliquez sur un marqueur pour réserver votre vélo.</h3>
  </div>
</ng-container>

<div id="map"></div>

<ng-container *ngIf="isReservationActives$ | async as isActive">
  <div class="map-reserver" *ngIf="isActive === 'no'">
    <ng-container *ngIf="stationSelected$ | async as station">
      <button mat-raised-button color="primary" class="map-reserver--btn" (click)="onChooseStation(station)">
        Reserver à cette station .
      </button>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="reservation$ | async as reservation">
  <button mat-raised-button class="btn primary-dark res-mobile mat-elevation-z6" (click)="showCompleteReservation(reservation)">
    Voir la réservation
  </button>
</ng-container>
