#map {
  height: 600px;
  cursor: pointer;
  max-width: 1200px;
  margin: 0 auto;
  border: solid #c43e00 6px;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  @media screen and (max-width: 425px) {
    height: 400px;
  }
}

.map-reserver {
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 70%;
  &--btn {
    font-size: 20px;
    padding: 15px;
    background: #c43e00;
    font-weight: 400;
    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 425px) {
    width: 100%;
    bottom: 0;
    right: 0 !important;
  }
}
.map-infos {
  h1 {
    margin-top: 50px;
  }
  h1,
  h3 {
    font-weight: 400;
  }
}
