<ng-container *ngIf="reservation$ | async as reservation">
  <button mat-raised-button class="btn primary-dark" style="position: absolute; right: 0;" (click)="showCompleteReservation(reservation)">
    Voir la réservation
  </button>
</ng-container>
<ng-container *ngIf="loaded$ | async">
  <div class="infos">
    <h1 class="text-center">Application Velyon</h1>
    <h3 class="text-center">Cliquez sur un marqueur pour réserver votre vélo.</h3>
  </div>
</ng-container>
<ng-container *ngIf="stationSelected$ | async as station">
  <div *ngIf="station.available_bikes !== '0'" class="reserver">
    <button mat-raised-button color="primary" (click)="onChooseStation(station)">Reserver à cette station.</button>
  </div>
</ng-container>
<div id="map"></div>
