<h2 mat-dialog-title class="text-center">{{ dialogTitle }}</h2>
<ng-container>
  <mat-dialog-content style="overflow: hidden">
    <ng-container>
      <form [formGroup]="reservationForm">
        <mat-tab-group>
          <mat-tab label="A quel nom?">
            <mat-form-field>
              <input matInput placeholder="Votre nom..." formControlName="nom" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input matInput placeholder="Votre prénom..." formControlName="prenom" />
            </mat-form-field>
          </mat-tab>
          <mat-tab label="Signature">
            <velooc-canvas></velooc-canvas>
          </mat-tab>
        </mat-tab-group>
      </form>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onClose()" class="close-btn">Close</button>
    <button mat-raised-button class="valid-btn" [disabled]="!(urlLoaded$ | async) || !reservationForm.valid" (click)="onSubmit()">
      Valider
    </button>
    <button mat-raised-button class="clear-btn" (click)="redraw()" (touchstart)="redraw()" *ngIf="showButton$ | async">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-dialog-actions>
</ng-container>
