/* You can add global styles to this file, and also import other style files */
@import 'assets/variable';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $color-primary;
}
.primary-dark {
  background-color: $color-dark;
  font-weight: 400;
  color: white;
  font-size: 24px;
  .title {
    font-size: 35px;
    width: 100%;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .nav-link {
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .flex-spacer {
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
  .menu-button {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}
.mat-sidenav {
  .title {
    font-size: 35px;
    color: $color-light;
    font-weight: 400;
    margin: 0;
  }
  .sidebar-header {
    text-align: center;
    background-color: #c43e00;
    min-width: 240px;
    padding: 20px;
    .icon-header {
      font-size: 120px;
      color: $color-light;
    }
  }
  .icon {
    color: $color-primary;
    margin-right: 20px;
  }
  .icon-header-container {
    text-align: center;
    width: 65%;
  }
}
.container {
  .icon-header {
    padding-top: 40px;
    font-size: 120px;
    margin-left: -90px;
    color: $color-primary;
  }
}

.mapboxgl-popup-tip {
  border-top-color: $color-primary !important;
}
.mapboxgl-popup-anchor-top {
  .mapboxgl-popup-tip {
    border-bottom-color: $color-primary !important;
  }
}
.mapboxgl-popup-content {
  position: relative;
  background: $color-primary !important;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 10px 15px 10px;
  pointer-events: auto;
  min-width: 300px;
  @media screen and (max-width: 425px) {
    min-width: 0;
  }
  h3 {
    color: white;
    font-size: 25px;
    font-weight: 400;
    @media screen and (max-width: 425px) {
      margin-top: 5px;
    }
  }
  h4 {
    font-weight: 400;
    @media screen and (max-width: 425px) {
      margin: 0;
    }
  }
}
.text-center {
  text-align: center;
  width: 100%;
}
.valid-btn {
  background-color: #c43e00;
  color: white;
  @media screen and (max-width: 425px) {
    margin: 15px !important;
  }
}
.clear-btn {
  background-color: #ffa040;
}
.close-btn {
  background-color: #ff6f00;
  color: white;
}

.res-pc {
  font-weight: 400;
  @media screen and (max-width: 425px) {
    display: none !important;
  }
}
.res-mobile {
  width: 100%;
  position: absolute !important;
  bottom: 0;
  padding: 10px !important;
  font-weight: 400;
  @media screen and (min-width: 426px) {
    display: none !important;
  }
}
.reservation-timer {
  display: flex;
  justify-content: space-between;
  h2 {
    color: #c43e00;
  }
  @media screen and (max-width: 425px) {
    display: block;
  }
}
.reservation-paragraph {
  display: flex !important;
  align-items: center !important;
  border-bottom: solid 1px;
  padding: 5px;
  mat-icon {
    color: #c43e00;
  }
  .reservation-info {
    margin-left: 10px;
  }
}
.mat-dialog-container {
  @media screen and (max-width: 425px) {
    padding: 15px !important;
  }
}
