/* You can add global styles to this file, and also import other style files */
@import 'assets/variable';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $color-primary;
}
.primary-dark {
  background-color: $color-dark;
  font-weight: 400;
  color: white;
  font-size: 24px;
  .title {
    font-size: 35px;
    width: 100%;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .nav-link {
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .flex-spacer {
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
  .menu-button {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}
.mat-sidenav {
  .title {
    font-size: 35px;
    color: $color-light;
    font-weight: 400;
    margin: 0;
  }
  .sidebar-header {
    text-align: center;
    background-color: #c43e00;
    min-width: 300px;
    padding: 20px;
    .icon-header {
      font-size: 120px;
      color: $color-light;
    }
  }
  .icon {
    color: $color-primary;
    margin-right: 20px;
  }
  .icon-header-container {
    text-align: center;
    width: 65%;
  }
}
.container {
  .icon-header {
    padding-top: 40px;
    font-size: 120px;
    margin-left: -90px;
    color: $color-primary;
  }
  .infos {
    max-width: 500px;
    margin: 0 auto;
    color: $color-primary;
    padding: 40px;
    h1 {
      font-weight: 400;
    }
  }
}
