<div *ngIf="loaded$ | async">
  <div style="text-align: center; width: 100%;">
    <ng-container *ngIf="caroussel$ | async as caroussel">
      <div *ngIf="animation === 'fadeIn'" class="container">
        <mat-icon class="icon-header" [@jello]="animationState">{{ caroussel.path }}</mat-icon>
        <div class="infos" [@fadeIn]="animationState" [@fadeOut]="!animationState">
          <h1>{{ caroussel.title }}</h1>
          <h3>{{ caroussel.subTitle }}</h3>
        </div>
        <button mat-icon-button (click)="onLeft(caroussel.id)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button (click)="onRight(caroussel.id)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>
